bucket         = "streamforge-shared-tfstate-ACCOUNTID-us-east-1"
key            = "prod/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "streamforge-shared-terraform-locks"
encrypt        = true
